/* sites.module.less */
.sitesList {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 10px;

      strong {
        font-weight: bold;
      }

      p {
        margin-top: 5px;
      }
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
}
